<div style="align-content: center" class="FlexContainer noPadding noMargin"> 
  <i class="material-icons"> build </i>
  <h5 style="margin-left: 10px"> Configuracion  </h5>
</div>
<hr>
<mat-drawer-container class="noPadding noMargin fullSize">
  <mat-drawer mode="side" opened>
      <mat-vertical-stepper #stepper (selectionChange)='stepChange($event)'>
        <mat-step [completed]="false">
          <ng-template matStepLabel>Icono</ng-template>
        </mat-step>
        <mat-step [completed]="false">
          <ng-template matStepLabel>Indicador</ng-template>
        </mat-step>
      </mat-vertical-stepper>
  </mat-drawer>
  <mat-drawer-content style="overflow: auto">
    <div style="height: auto; min-height: 86%">
      <div *ngIf="selectedIndex === 1">
        <app-grindicons></app-grindicons>
      </div>
      <div *ngIf="selectedIndex === 0">
        Testing
      </div>
    </div>
    <mat-toolbar style="height: 40px; justify-content: flex-end" class="FixBottom FlexContainer"> 
      <button mat-button style="height: 100%"> Guardar </button> 
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>
<hr>
<div style="height: 30px; justify-content: flex-end" class="FlexContainer noPadding noMargin">
  <button mat-button (click)="onNoClick(true)"> Cerrar </button>
</div>